$header_background-color: #bea489;
$header_color: white;
$header_font-size: 2.3rem;
$header_address: #d8c0a7;
$header_address_border-radius: 20px;
$address_font-size: 1rem;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  padding-block: 20px;
  background-color: $header_background-color;
  color: $header_color;
  font-size: $header_font-size;
  width: 100%;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_text {
  letter-spacing: 2px;
}
.svg_header {
  width: 35px;
  height: 35px;
}
.header__address_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $header_address;
  border-radius: $header_address_border-radius;
  padding-inline: 50px;
  padding-block: 20px;
  font-size: $address_font-size;
}
.header__address_list_item a {
  color: #ffffff;
  transition: color 0.5s;
  vertical-align: top;
}
.header__address_list_item a:hover {
  color: #6e5231;
  text-decoration: underline;
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .header_logo {
    flex-direction: column;
  }
}
