$background-color: #efe3d5;
$font-family: Arial, sans-serif;
$page__wrapper_title_color: #8e6c48;
$page__wrapper_title_color_shadow: #ccbbac;
$page__wrapper_title_font-size: 2rem;

.page {
  min-inline-size: 500px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: $background-color;
  font-family: $font-family;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.page__wrapper_title {
  color: $page__wrapper_title_color;
  font-size: $page__wrapper_title_font-size;
  text-shadow: 0px 20px 1px $page__wrapper_title_color_shadow;
}
