.page-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #ffffff;
  gap: 30px;
  margin-block: 40px;
  margin-inline: clamp(2.5rem, -0.5909rem + 14.5455vw, 12.5rem);
  font-weight: 900;
  text-align: center;
}
.image {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}
.page-section {
  background-color: #bea489;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
}
.page-section_about {
  grid-column: 2;
}
.title_section {
  font-size: 3rem;
}
.cooperation_link {
  font-size: 1.2rem;
  color: #816c55;
}
.page-section_cooperation {
  grid-column: 1/3;
}
.page-section_contacts {
  grid-column: 2;
  align-items: center;
}
.form_fieldset_textarea{
   max-width: 400px;
}
@media (max-width: 1200px) {
  .page-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .page-section_about {
    grid-column: 1;
  }
  .page-section_cooperation {
    grid-column: 1;
  }
  .page-section_contacts {
    grid-column: 1;
  }
}
