//основной файл стилей иппорт стилей
@use "components/_button";
@use "./components/_card";
@use "./components/_header";
@use "./components/_footer";
@use "./components/_page";
@use './components/_description';
@use './components/_section_form';
@use './components/globals.scss';

@use "pages/_new-page.scss";

